{{- with .Site.Params.navbar }}
<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
		<div class="block">
		    <a href="" class="footer-logo">{{ .logo }}</a>
		    <ul class="menu">
			{{- range .menu }}
			<li class="">
			    <a href="{{ .link }}">{{ .text }}</a>
			</li>
			{{- end }}
		    </ul>
		    <p class="copyright-text">Copyright &copy; <a href="http://www.Themefisher.com">Themefisher</a></p>
		</div>
            </div>
        </div>
    </div>
</footer>
{{- end }}

<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
 (function(f, a, t, h, o, m){
     a[h]=a[h]||function(){
	 (a[h].q=a[h].q||[]).push(arguments)
     };
     o=f.createElement('script'),
     m=f.getElementsByTagName('script')[0];
     o.async=1; o.src=t; o.id='fathom-script';
     m.parentNode.insertBefore(o,m)
 })(document, window, '//stats.bzg.fr/tracker.js', 'fathom');
 fathom('set', 'siteId', 'HHPLP');
 fathom('trackPageview');
</script>
<!-- / Fathom -->
